#pic {
	background-color: #FFFFFF;
	left: 10px;
	position: relative;
	top: 10px;
	width: 135px;
}

#pic a .large {
	border: 0px;
	display: block;
	height: 1px;
	left: -1px;
	position: absolute;
	top: -1px;
	width: 1px;
}

#pic a img {
	border: 0;
}

#pic a.p1, #pic a.p1:visited {
	background: #FFFFFF;
	display: block;
	height: 120px;
	left: 0;
	text-decoration: none;
	top: 0;
	width: 165px;
}

#pic a.p1:hover {
	background-color: #8C97A3;
	color: #000000;
	text-decoration: none;
}

#pic a.p1:hover .large {
	border: 1px solid #000000;
	display: block;
	height: 240px; /* 373px; */
	left: 173px;
	position: absolute;
	top: -60px;
	width: 320px; /* 504px; */
}		
